@import url(variables.css);

.editor-paragraph {
   /* height: 100%; */
   border: none;
   /* margin: 0 0 15px 0; */
   /* position: relative; */
   /* color: var(--editor-color); */
   /* font-size: var(--editor-font-size); */
}

.editor-placeholder {
   color: #ff4646;
   overflow: hidden;
   position: absolute;
   top: 15px;
   left: 15px;
   user-select: none;
   pointer-events: none;
 }
 