@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-serif/400.css";
@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/gluten/400.css";

* {
	box-sizing: border-box;
}

.font-noto-sans {
	font-family: "Noto Sans", sans-serif;
}

.font-noto-serif {
	font-family: "Noto Serif", serif;
}

.font-roboto-mono {
	font-family: "Roboto Mono", monospace;
}

.font-gluten {
	font-family: "Gluten", cursive;
}